In [1]:
#Try to import the data and look at at least one dataset and try to understand 
#how the datasets are different

In [27]:
import pandas as pd
import csv
import os

In [96]:
my_dir = '/Users/anastasiakaiser/Desktop/BWreplication_BorderFixes/Barbed_Wire_Replication_Files/Data_barbedwire/'
all_files = os.listdir(my_dir)   # imagine you're one directory above test dir
txt_files = filter(lambda x: x[-4:] == '.txt', all_files)
dta_files = filter(lambda x: x[-4:] == '.dta', all_files)
print(len(txt_files))
print(txt_files)
print('---')
print(dta_files)
print(len(dta_files))

9
['Export_18801870.txt', 'Export_18901870.txt', 'Export_18901880.txt', 'Export_19001870.txt', 'Export_19001880.txt', 'Export_19101870.txt', 'Export_19101880.txt', 'Export_19201870.txt', 'Export_19201880.txt']
---
['02896-0049-Data.dta', '02896-0050-Data.dta', '02896-0085-Data.dta', '04254-0001-Data.dta', '04254-0002-Data.dta', '04254-0003-Data.dta', '04254-0004-Data.dta', '04254-0005-Data.dta', '04254-0006-Data.dta', '1900_webextract.dta']
10

In [75]:
data1 = read_text_files(my_dir,txt_files[0])
data2 = read_text_files(my_dir,txt_files[1])
data3 = read_text_files(my_dir,txt_files[2])
data4 = read_text_files(my_dir,txt_files[3])
data5 = read_text_files(my_dir,txt_files[4])
data6 = read_text_files(my_dir,txt_files[5])
data7 = read_text_files(my_dir,txt_files[6])
data8 = read_text_files(my_dir,txt_files[7])
data9 = read_text_files(my_dir,txt_files[8])

In [99]:
data9.head()

,AREA,AREA_1,CNTY_AREA,CNTY_ARE_1,COUNTY,COUNTY_1,FID_us1880,FID_us1920,ID,ID_1,PERIMETER,PERIMETE_1,STATE,STATE_1,new_area
0,2310.268,4114.430,2082.0,3714.2,WHATCOM,WHATCOM,0,0,53073,53073,256.190,334.043,Washington,Washington,2310.232
1,2310.268,15406.814,2082.0,13908.1,WHATCOM,STEVENS,3,0,53073,53065,256.190,711.067,Washington,Washington,0.000
2,1866.918,1866.921,1726.0,1685.3,CLALLAM,CLALLAM,1,1,53009,53009,224.962,224.959,Washington,Washington,1866.897
3,1866.918,2022.405,1726.0,1825.7,CLALLAM,JEFFERSON,5,1,53009,53031,224.962,307.543,Washington,Washington,0.016
4,202.590,202.598,178.0,179.0,SAN JUAN,SAN JUAN,2,2,53055,53055,93.506,93.502,Washington,Washington,202.582

In [77]:
data2.head(2)

,AREA,AREA_1,CNTY_AREA,CNTY_ARE_1,COUNTY,COUNTY_1,FID_us1870,FID_us1890,ID,ID_1,PERIMETER,PERIMETE_1,STATE,STATE_1,new_area
0,2318.995,4119.638,2093.4,3718.9,WHATCOM,WHATCOM,0,0,53073,53073,255.971,334.044,Washington,Washington,2318.995
1,1866.921,1828.394,1685.3,1650.5,CLALLAM,CLALLAM,1,1,53009,53009,224.959,222.468,Washington,Washington,1827.459

In [78]:
data5.head(2)

,AREA,AREA_1,CNTY_AREA,CNTY_ARE_1,COUNTY,COUNTY_1,FID_us1880,FID_us1900,ID,ID_1,PERIMETER,PERIMETE_1,STATE,STATE_1,new_area
0,2318.994,4114.430,2226.0,3714.2,WHATCOM,WHATCOM,0,0,53073,53073,255.972,334.043,Washington,Washington,2318.994
1,1866.921,1866.921,1807.0,1685.3,CLALLAM,CLALLAM,1,1,53009,53009,224.959,224.959,Washington,Washington,1866.921

In [ ]:

data = pd.io.stata.read_stata('my_stata_file.dta')
data.to_csv('my_stata_file.csv')

In [85]:
alt_dir = '/Users/anastasiakaiser/Desktop/BWreplication_BorderFixes/Stata to CSV/'
farm1 = read_text_files(alt_dir,'02896-0049-Data.csv')

In [91]:
farm1['county'].head()

0    10
1    30
2    50
3    70
4    90
Name: county, dtype: object

In [83]:
def read_text_files(path,file):
    with open(path + file, 'rt') as f:
        reader = csv.reader(f, delimiter='\t', skipinitialspace=True)
        lineData = list()
        cols = next(reader)

        for col in cols:
            # Create a list in lineData for each column of data.
            lineData.append(list())
        for line in reader:
            for i in xrange(0, len(lineData)):
            # Copy the data from the line into the correct columns.
                lineData[i].append(line[i])
        my_dict = dict()

        for i in xrange(0, len(cols)):
            # Create each key in the dict with the data in its column.
            my_dict[cols[i]] = lineData[i]
    df = pd.DataFrame(my_dict)
    return df

In [25]:
test = pd.DataFrame(data)

In [59]:
Export_1880187.head()

NameError: name 'Export_1880187' is not defined